@model scaweb.Models.Instituicao

@{
    ViewBag.Title = "Details";
}
<div class="row col-sm-5">
    <div class="panel panel-info panel-title">
        <div class="panel panel-heading">Informações da Instituição</div>
        <div class="panel panel-body">
            <dl class="dl-horizontal">
                <dt> @Html.DisplayNameFor(model => model.Nome)</dt>
                <dd>@Html.DisplayFor(model => model.Nome)</dd>
                <dt> @Html.DisplayNameFor(model => model.Cnpj)</dt>
                <dd>@Html.DisplayFor(model => model.Cnpj)</dd>
            </dl>
        </div>
        <div class=" panel-footer">
            <div class="btn-group btn-group-sm col-sm-offset-7">
                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-sm">Editar</a>
                <a href="@Url.Action("Index")" class="btn btn-info btn-sm">Voltar</a>
            </div>
        </div>
    </div>
</div>

